<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ProductCategory</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center m-5"><br><br>
<div><h2><font color="brown"><i>Product Category Application</font></h2></div><br>
<div class="p-2">
<a class="h5" th:href="@{/Category}">List-Of-Categories</a></div>
<div class="p-2">
<a class="h5" th:href="@{/Category/Create}">Create-Category</a></div>

<div class="p-2">
<a class="h5" th:href="@{/Product}">List-Of-Products</a></div>
<div class="p-2">
<a class="h5" th:href="@{/Product/Create}">Create-Product</a></div>

</div>
</body>
</html>